/*@import './reset.css';*/
:root {
    --main-light-color: #f4f4f4;
    --main-dark-color: #333;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background: var(--main-dark-color);
    margin: 0;
    color: var(--main-light-color);
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
header {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.article_logo {
    height: 100vh;
    width: 100%;
    background-image: url(../images/greyimage.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    /*filter: blur(3px);*/
}

header {
    display: flex;
    flex-direction: column;
    align-content: center;
    text-align: center;
    vertical-align: middle;
}
h1 {
    font-size: 2.2em;
    margin-top: 1rem;
    line-height: 1.2em;
}
p {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.logo_p {
    width: 30%;
    margin-top: 20px;
}
.logo_img {
    width: 180px;
    height: auto;
    text-align: center;
}
.logo {
    margin-top: 10%;
    text-align: center;
}

.article_icons {
    display: flex;
    text-align: center;
    max-width: 960px;
    margin: auto;
    overflow: hidden;
    padding: 4rem 1rem;
}
.icon_card {
    width: 25%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}
.icon_card p {
    text-align: justify;
}
i {
    font-size: 3em;
}
h2 {
    font: bolder;
    font-size: 1.4em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    text-align: center;
}
.about_us {
    background: var(--main-light-color);
    color: var(--main-dark-color);
    vertical-align: middle;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 4rem 1rem;
}
.icon_about_us,
.about_us_text {
    text-align: center;
    width: 50%;
    display: table-cell;
}
.about_us_text > p {
    text-align: start;
    max-width: 450px;
}
footer {
    background: var(--main-dark-color);
    color: var(--main-light-color);
    text-align: center;
    margin: auto;
    padding: 2.2rem;
}
